<h1>{{ page.title }}</h1>
<div class="rte">
  {{ page.content }}
  
  <div id="template" class="">
    {% form 'contact' %}
    {% if form.posted_successfully? %}
    <p class="feedback">{{ 'contact.form.post_success' | t }}</p>
    {% endif %}
    
    {% if form.errors %}
    <ul class="errors">
      {% for field in form.errors %}
      <li>{{ field | replace: 'body','Message' | capitalize }} - {{ form.errors.messages[field] }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    
    <div class="large_form">
      <label for="contact_name">{{ 'contact.form.name' | t }}</label>
      <input type="text" class="required" id="contact_name" name="contact[name]" />
    </div>
    <div class="large_form">
      <label for="contact_email">{{ 'contact.form.email' | t }}</label>
      <input type="email" class="required" id="contact_email" class="email" name="contact[email]" />
    </div>
    <div class="large_form">
      <label for="message">{{ 'contact.form.message' | t }}</label>
      <textarea id="message" class="required" name="contact[body]"></textarea>
    </div>
    <div class="action_bottom">
      <input type="submit" value="{{ 'contact.form.send' | t }}" />
    </div>
    {% endform %}
  </div>
</div>